<!DOCTYPE html>
<html>
    <head>
        <title>Calculating Prime Numbers</title>   
        <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                 </ul>
            {% endif %}
        {% endwith %}
    </head>
    <body>
        <header>
            <div class="container">
                <h1 class="logo">Prime numbers</h1>
                <strong>
                    <nav>
                        <ul class="menu">
                            <li><a href="{{ url_for('main') }}">Home</a></li>
                        </ul>
                    </nav>
                </strong>
            </div>
        </header>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
